//
// styles just for multiview
//
.page-header {
  background-color: #E8E5CE;
}
$page-title-vert-padding: 30px;
.page-title {
  font: italic 300 30px "Source Sans Pro",Helvetica,sans-serif;
  padding: $page-title-vert-padding 0;
}
.title-meta {
  margin-top: -($page-title-vert-padding/2);
  padding: 0 0 11px;
}
.page-title-container {
  @include grid-column(
    $default-columns * 0.75,
    $default-last-column,
    true,
    $default-offset,
    $default-push,
    $default-pull,
    $default-collapse,
    $default-float
    );
}

//
// multi view page transitions
//

$multi-page-ttb-start: -100%;
$multi-page-btt-start: 100%;
$multi-page-transition-end: 0%;
$multi-page-transition-duration: 0.4s;

// top to bottom
@-webkit-keyframes multi-top-bot {
  from { -webkit-transform: translateY($multi-page-ttb-start); }
  to { -webkit-transform: translateY($multi-page-transition-end); }
}
@-moz-keyframes multi-top-bot {
  from { -moz-transform: translateY($multi-page-ttb-start); }
  to { -moz-transform: translateY($multi-page-transition-end); }
}
@-o-keyframes multi-top-bot {
  from { -o-transform: translateY($multi-page-ttb-start); }
  to { -o-transform: translateY($multi-page-transition-end); }
}
@-ms-keyframes multi-top-bot {
  from { -ms-transform: translateY($multi-page-ttb-start); }
  to { -ms-transform: translateY($multi-page-transition-end); }
}
@keyframes multi-top-bot {
  from { transform: translateY($multi-page-ttb-start); }
  to { transform: translateY($multi-page-transition-end); }
}

// bottom to top
@-webkit-keyframes multi-bot-top {
  from { -webkit-transform: translateY($multi-page-btt-start); }
  to { -webkit-transform: translateY($multi-page-transition-end); }
}
@-moz-keyframes multi-bot-top {
  from { -moz-transform: translateY($multi-page-btt-start); }
  to { -moz-transform: translateY($multi-page-transition-end); }
}
@-o-keyframes multi-bot-top {
  from { -o-transform: translateY($multi-page-btt-start); }
  to { -o-transform: translateY($multi-page-transition-end); }
}
@-ms-keyframes multi-bot-top {
  from { -ms-transform: translateY($multi-page-btt-start); }
  to { -ms-transform: translateY($multi-page-transition-end); }
}
@keyframes multi-bot-top {
  from { transform: translateY($multi-page-btt-start); }
  to { transform: translateY($multi-page-transition-end); }
}

.multi-page-transition-0 {
  -webkit-animation: multi-top-bot $multi-page-transition-duration;
  -moz-animation: multi-top-bot $multi-page-transition-duration;
  -o-animation: multi-top-bot $multi-page-transition-duration;
  -ms-animation: multi-top-bot $multi-page-transition-duration;
  animation: multi-top-bot $multi-page-transition-duration;
}
.multi-page-transition-1 {
  -webkit-animation: multi-bot-top $multi-page-transition-duration;
  -moz-animation: multi-bot-top $multi-page-transition-duration;
  -o-animation: multi-bot-top $multi-page-transition-duration;
  -ms-animation: multi-bot-top $multi-page-transition-duration;
  animation: multi-bot-top $multi-page-transition-duration;
}