.site-footer {
  background-color: #e8e5ce;
  color: #686758;
  font-size: emCalc(14);
  text-align: center;
}
.site-footer .widget-area {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  // just for now
  min-height: emCalc(200);
}
.site-footer a {
  color: #686758;
}
.site-footer .sidebar-container {
  background-color: #220e10;
  padding: 20px 0;
}

.site-info {
  margin: 0 auto;
  max-width: 1040px;
  padding: 30px 0;
  width: 100%;
}
