//
// Footer styles
//

//
// Footer Global Styles
//
.site-footer {
  background-color: #e8e5ce;
  color: #686758;
  font-size: emCalc(14);
  text-align: center;
}

.site-footer a {
  color: #686758;
}

@import "sidebarContainer/styles";
@import "siteInfo/styles";