<div class="search">
  <form role="search" class="search-form">
    <label>
      <span class="screen-reader-text">Search for:</span>
      <input type="search" class="search-field main-search-icon" value="" title="Search for:" />
    </label>
    <input type="submit" class="search-submit" value="Search" />
  </form>
</div>
<ul class="title-area">
  <li class="name">
    <!-- leave empty -->
  </li>
  <li class="toggle-topbar menu-icon">
    <a data-bypass href="#">
      <span>
        Menu
      </span>
    </a>
  </li>
</ul>
<section class="top-bar-section">
  <ul class="left wpspa-nav">
  </ul>
</section>