@import "compass/css3";

.grid-row {
  @include grid-row($default-row-behavior);
}

.grid-col {
  @include grid-column(
    $default-columns,
    $default-last-column,
    $default-center,
    $default-offset,
    $default-push,
    $default-pull,
    $default-collapse,
    $default-float
    );
}

.grid-col-center {
  @include grid-column(
    $default-columns * 0.80,
    $default-last-column,
    true,
    $default-offset,
    $default-push,
    $default-pull,
    $default-collapse,
    $default-float
  );  
  @media #{$small} {
    @include grid-column(
        $default-columns / 2,
        $default-last-column,
        true,
        $default-offset,
        $default-push,
        $default-pull,
        $default-collapse,
        $default-float
    );
  }
}

%submit-button {
  @include background(linear-gradient(180deg, #e05d22 0%, #d94412 100%));
  border: none;
  border-bottom: 3px solid #b93207;
  border-radius: $default-radius;
  color: #fff;
  padding: 11px 24px 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}