
// define the default row behavior
$default-row-behavior: false;

// define grid column defaults
$default-columns: 12;
$default-last-column: false;
$default-center: false;
$default-offset: false;
$default-push: false;
$default-pull: false;
$default-collapse: false;
$default-float: left;

// block-grid defaults
//$include-block-grid-classes: false;
//$default-per-row: 