
// define the default row behavior
$default-row-behavior: false;

// define grid column defaults
$default-columns: 12;
$default-last-column: false;
$default-center: false;
$default-offset: false;
$default-push: false;
$default-pull: false;
$default-collapse: false;
$default-float: left;

// more media queries
$tiny-screen: 320px;

$tiny-portrait: "only screen and (orientation: portrait) and (max-width: #{$tiny-screen})";