.widget-area {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  // just for now
  //min-height: emCalc(300);
}

 .widget {
  margin: 0 0 24px;
  padding: 20px;
  word-wrap: break-word;
} 

.widget ul, .widget ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-container {
  background-color: #220e10;
  padding: 20px 0;
  @include clearfix();
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.search-form .search-submit {
  display: none;
}

.site-footer .widget-title, .site-footer .widget-title a, .site-footer .wp-caption-text {
  color: #fff;
}

.widget .widget-title {
  font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
  margin: 0 0 10px;
}

.site-footer .widget a {
  color: #e6402a;
}

.site-footer .widget {
  background: transparent;
  color: #fff;
  float: left;
  margin-right: 20px;
  width: 245px;
}